.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

support_assistant/chroma_db/
support_assistant/__pycache__/
analytics/__pycache__/
data_pipeline/__pycache__/

*.log
.DS_Store
Thumbs.db
